.full-img1, .full-img2{
    width: 100%;
    height: 600px;
    background-image: url('../images/IMAGEfull-img1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.full-img2{
    background-image: url('../images/IMAGEfull-img2.png');
}